body {
xtext-align: center;
}

h4 {
xmargin-bottom: 12px;
xfont-size: 1.25em;
xfont-weight: 400;
xtext-transform: uppercase;
}

h5 {
xfont-size: 1.75em;
}

p {
    color: rgba(39,65,90,.9);
}


ol, ul {
list-style: none;
}

.plans {
    background-image: url(../images/food.jpg);
    background-position:  center center;
    background-size: cover;
    overflow: hidden;
}

.layer {
clear: both;
width: 100%;
height: auto;
display: block;
text-align: center;
}

.layer > div {
xclear: both;
xwidth: 100%;
xheight: auto;
xmax-width: 1092px;
xmargin: 0 auto;
display: block;
}

.background-colour {
    background-color: white;
}

.plan-tier { /** background colour**/
xbackground: white;
xborder-radius: 3px;
xborder-radius: 3px;
cursor: pointer;
xvertical-align: baseline;
}

.lift {
position: relative;
}

.lift:hover {
top: -10px;
}

.plan-tier h2 {
padding: 18px 0 15px;
margin: 0 0 30px;
background: #00a1ff;
color: white;
overflow: hidden;
}

.plan-tier {
xcursor: pointer;
}

.plan-tier sup {
position: relative;
right: -9px;
}

.plan-tier ul { /** chart line colour**/
margin: 30px 0 0;
border-top: 2px solid #e7f2f0;
}

.plan-tier ul li {
xfont-size: 1.25em;
padding: 18px 0;
color: rgba(39,65,90,.9);
border-bottom: 2px solid #e7f2f0;
}

sup {
vertical-align: top;
}

.plan-tier .plan-price {
xfont-size: 5em;
xfont-weight: 300;
xletter-spacing: -3px;
}

.plan-tier sub {
vertical-align: bottom;
position: relative;
bottom: .875em;
}

.plan-tier {
color: #0091e5;
}
p:first-of-type {
xmargin-top: 0;
}

small, del {
xcolor: rgba(39,65,90,.5);
xfont-size: 1em;
xline-height: 1.5em;
}

s, strike, del {
xtext-decoration: line-through;
}


.layer {
padding-top: 96px;
padding-bottom: 96px;
}

.plan-tier.callout h6 {
xwidth: 100%;
xpadding: 15px 0 14px;
xbackground: #8dcf3f;
xcolor: rgba(39,65,90,.5);
xfont-size: 1.25em;
}

.plan-tier.callout h4 {
xbackground-color: #78b336;
}