p {
    color: rgba(39,65,90,.9);
}

ul {
    padding: 0;
}

ol, ul {
    list-style: none;
}

.plans {
    background-image: url(../images/food.jpg);
    background-position:  center center;
    background-size: cover;
    overflow: hidden;
}

.layer {
    clear: both;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.layer > div {
    display: block;
}

.background-colour {
    background-color: white;
}

.plan-tier {
cursor: pointer;
}

.lift {
    position: relative;
}

.lift:hover {
    top: -10px;
}

.plan-tier h2 {
    padding: 18px 0 15px;
    margin: 0 0 30px;
    background: #00a1ff;
    color: white;
    overflow: hidden;
}

.plan-tier sup {
    position: relative;
    right: -9px;
}

.plan-tier ul { /** chart line colour**/
    border-top: 2px solid #e7f2f0;
}

.plan-tier ul li {
    padding: 18px 0;
    color: rgba(39,65,90,.9);
    border-bottom: 2px solid #e7f2f0;
}

sup {
    vertical-align: top;
}

.plan-tier sub {
    vertical-align: bottom;
    position: relative;
    bottom: .875em;
}

.plan-tier {
    color: #0091e5;
}
p:first-of-type {
    margin-top: 0;
}

.layer {
    padding-top: 96px;
    padding-bottom: 96px;
}

.plan-tier.callout h6 {
    width: 100%;
    padding: 15px 0 14px;
    background: #8dcf3f;
    color: rgba(39,65,90,.5);
    font-size: 1.25em;
    margin-bottom: 0;
    color: white;
}

.plan-tier.callout h3 {
    background-color: #78b336;
    padding: 3rem;
    margin: 0;
}