@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -10em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.nav {
    padding: 0;
}

a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 0.5rem;
}

nav li a:hover {
      color: white;
      background-color: #999999;
}

.nav-bottom li::after {
    content: " · ";
    color: black;
}

.nav-bottom li:last-child::after {
    content: none;
}

.nav-color {
    background-color: #39a3a7;
    overflow: hidden;
}

.billboard {
    background-image:url(../images/path.gif);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.masthead-fix-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.action {
    right: 50%;
    overflow: hidden;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    text-align: center;
    background-color: rgba(45, 44, 44, 0.5);
}

.white {
    color: white;
}

.action-body {
    text-align: center;
    border: 1px solid transparent;
    margin: 0rem 1.5rem 0rem 1.5rem;
    background-color: rgba(45, 44, 44, 0.5);
}