@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -10em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.nav {
    padding: 0;
}

a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 0.5rem;
}

nav li a:hover {
      color: #b7d433;
}

.nav-bottom li::after {
    content: " · ";
    color: black;
}

.nav-bottom li:last-child::after {
    content: none;
}

.nav-color {
    background-color: #39a3a7;
    overflow: hidden;
    width: 100%;
}

.title {
    margin: 0;
    padding: 0;
    color: white;
}

.button-center {
    text-align: center;
    margin: 1rem;
    padding: 0.75rem 1.75rem;
    border: 1px solid white;
    background-color: rgba(45, 44, 44, 0.5);  
}  

.button-center-color{
    text-align: center;
    margin: 1rem;
    padding: 0.75rem 1.75rem;
    border: 1px solid #39a3a7;
    background-color: rgba(45, 44, 44, 0.5);     
}    
    
.button-center-box{  
    text-align: center;    
} 

.billboard {
    background-image:url(../images/path.gif);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: auto;
}

.billboard-header {
    padding-top: 1rem;
    font-weight:bold;
}
    
.action-space {
    padding-top: 1rem;
    text-align: center;
}
    
.intro {
    padding: 0 0rem;
    text-align: center;
}

.section-intro {
    padding: 0 0rem;
}

.action:hover {
    background-color: #39a3a7;
    color: white;
    
}

.background {
    background-image: url(../images/hiking-trail.gif);
    background-position:  center center;
    background-size: cover;
    overflow: hidden;
    border-bottom: 2px solid #39a3a7;
    border-top: 2px solid #39a3a7;
}

.background-2 {
    background-image: url(../images/gym.gif);
    background-position:  center center;
    background-size: cover;
    overflow: hidden;
    border-bottom: 2px solid #39a3a7;
    border-top: 2px solid #39a3a7;
}
.action {
    right: 30%;
    overflow: hidden;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    text-align: center;
    background-color: rgba(45, 44, 44, 0.5);
}

img {
    display: block;
    width: 100%;
}

.img-flex {
    display: block;
    width:100%;
}


.img-color {
    color: white;
}

.white {
    color: white;
}

 .copyright {
        color: white;
    }

@media only screen and (min-width: 25em) {
    
    .section-intro {
        padding: 0 0.5rem;
        text-align: center;
    }
    
    .title {
     text-align: center;   
    }    
    
    .intro {
        padding: 1rem 0.5rem;
    }
    
    .billboard-header {
        padding-top: 5rem;
    }
    
    .action-space {
        padding-top: 2.5rem;
    }
    
    .nav {
        text-align:center;
        padding: 0;
    }
    
    .nav li {
        display: inline-block;
        border: 0;
    }
    
    .footer {
        text-align: center;
    }
    
    .billboard {
        height: 25rem;
    }
}
 
@media only screen and (min-width: 38em) {
    
    .billboard-header {
        padding-top: 7rem;
    }

    .section-intro {
        padding: 0 4rem;
    }
    
    .action-space {
        padding-top: 3rem;
    }
    
    .intro {
        padding: 2rem 3rem;
    }
    
    .title{
        text-align: left;
        }

    .nav {
        text-align: left;
        } 
    
     .footer {
        text-align: right;
    }
    
    table, td, th, tr {
        border: none;
        border-bottom: 1px solid #1F2E3C;
    }
    
    .billboard {
       height: 30rem;
    }

}

@media only screen and (min-width: 60em) {
    
    .section-intro {
        padding: 0 10rem;
    }
    
    .intro {
        padding: 2rem 6rem;
    }
    
    .billboard-header {
        padding-top: 8rem;
      }
    
    .action-space {
        padding-top:6rem;
    }
    
    .title {
        text-align: left;
    }
    
    .nav {
        text-align:left;
    }
    
     .footer {
        text-align: right;
    }
}

@media only screen and (max-width: 17rem), (min-device-width: 17rem) and (max-device-width: 17rem)
{
      
}